# Python Einführung
## Unterüberschrift

*kursiv* **fett**
- Punkt 1
- Punkt 2
- Punkt 3

1.1 Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

1.2 Kommentare

In [3]:
#Das ist ein Kommentar
'''hguzuf
jbiuibi
jbiiu'''
print("something")

something

1.3 Einfache Datentypen

In [4]:
# Variable und Wertezuweisung
name = "Lovelace"
print(name)

Lovelace

In [6]:
#String - Zeichenkette# 
first_name = "Ada"
first_name

'Ada'

In [7]:
# Integer - Ganzzahl
age = 73
print (age)

73

In [8]:
# Float - Gleitkommazahl
size = 1.7123
size

1.7123

In [10]:
# Boolean
knows_maths = True
print(knows_maths)

True

In [12]:
likes_slacking = False
print(likes_slacking)

False

In [13]:
type(name)

str

In [14]:
type(age)

int

In [16]:
type(size)

float

In [18]:
type(knows_maths)

bool

In [20]:
type(likes_slacking)

bool

In [22]:
age_string = str(age)

In [23]:
type(age_string)

str

1.4 Operatoren

In [24]:
#Addition von Integers
5 + 5

10

In [27]:
#Multipliaktion
age * 100

7300

In [28]:
name + name

'LovelaceLovelace'

In [29]:
first_name * 5

'AdaAdaAdaAdaAda'

In [30]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [31]:
name + "10"

'Lovelace10'

In [32]:
#Division
size / age

0.023456164383561642

1.5 Funktionen und Methoden

In [34]:
print(name)
len(name)

Lovelace

8

In [35]:
name.upper()

'LOVELACE'

In [37]:
first_name.upper()

'ADA'

In [51]:
name_upper_case = name.upper()

In [52]:
name.replace("lace", " is everywhere")

'Love is everywhere'

1.6 Listen und Dictionaries

In [54]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [55]:
names[2]

'Curie'

In [56]:
names[0]

'Lovelace'

In [57]:
names[-1]

'Hawking'

In [59]:
print(names)
names[0:3]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

['Lovelace', 'Darwin', 'Curie']

In [60]:
# slicing
names[:2]

['Lovelace', 'Darwin']

In [61]:
names[2:]

['Curie', 'Hawking']

In [65]:
#Dictionaries
authors_and_birth_years = {"Lovelace": 1815, 
                           "Darwin": 1809, 
                           "Noether": 1882, 
                           "Hawking": 1942}

In [63]:
authors_and_birth_years["Darwin"]

1809

In [66]:
authors_and_birth_years["Lovelace"]

1815

In [67]:
type(authors_and_birth_years)

dict

2. for-Schleifen

In [68]:
 for last_name in names:
        print(last_name + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [71]:
for last_name in names:
    print(last_name + " did awesome stuff")
    print ("--------------------")

Lovelace did awesome stuff
--------------------
Darwin did awesome stuff
--------------------
Curie did awesome stuff
--------------------
Hawking did awesome stuff
--------------------

In [74]:
for authors in authors_and_birth_years.keys():
    print (authors)

Lovelace
Darwin
Noether
Hawking

In [79]:
for key, value in authors_and_birth_years.items():
    print (key, value)

Lovelace 1815
Darwin 1809
Noether 1882
Hawking 1942

In [80]:
for key, value in authors_and_birth_years.items():
    print (key, " was born in", value)

Lovelace  was born in 1815
Darwin  was born in 1809
Noether  was born in 1882
Hawking  was born in 1942

2.1 Bedingte Anweisungen (Conditionals)

In [81]:
temp = 20
if temp > 15:
    print ("It's warm")

It's warm

In [82]:
20 > 15

True

In [83]:
temp = 10
if temp > 15:
    print("it's warm")
else:
    print ("it's cold")

it's cold

In [89]:
temp = 9
if temp > 25:
    print("it's hot")
elif temp > 15:
    print ("it's warm")
else:
    print ("it's cold")

it's cold

In [95]:
temp = 13
if 25 < temp < 30:
    print("Super!")